
@keyframes grow {
 0% {
   z-index:4;
   position:absolute;  
   border-radius:50px;
   width:60px;
   height:60px;
 }

 40% {
 /*  z-index:2;
   position:absolute;
   border-radius:50%;*/
   
 }
 100% {
   top:43.5%;
   z-index:1;
   width:700px;
   height:700px;
   border-radius: 50%;
   position: absolute;
   right: -114px;
   top: 22%;
 }
}

html, body {
  height: 100%;
  width: 100%; }

body {
    font-family: Arial, serif;
}
#container {
    margin: 0 auto;
    width: 25%;
    height: 75%;
    background-color: black;
    position: relative;
    overflow:hidden;
}
#balk1 {
    width: 100%; 
    height: 5%;
    background-color: rgb(0,150,166);
    color: black;
    text-align: right;
    z-index: 6;
}
i {
    color: black;
    font-size: 18px;
    margin-top: 10px;
}
.fa-square-o {
    margin-left: 10px;
}
.fa {
   margin-right: 10px; 
}
#balk2 {
    height: 35%;
    width: 100%;
    background-color: rgb(0,188,212);
    position: relative;
    z-index: 6;
   
}
#balk3 {
    position: relative;
    height:5%;
    width: 100%;
    background-color: rgb(96,97,97);
    color: rgb(245,254,255);
    text-align: center;
    font-family: Arial, serif;
    line-height: 35px;
    overflow:hidden;
    z-index: 999;
    

}
#content1 {
    height: 55%;
    width: 100%;
    background-color: rgb(245,254,255);
    border-bottom: 1px solid rgb(245,254,255);
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
a:active {
    font-weight: bold;
}


#content2 {
    height: 55%;
    width: 100%;
    background-color: rgb(255,238,77);
    display: none;
    overflow: hidden;

}
#hiddencircle {
    position: absolute;
    z-index: 9999;

    bottom: 8%;
    text-align: center;
    margin-left: 18%;
}
#timedropdown{
    float: left;
}
.title {
    word-spacing: 53px;
}
.circle-checkbox {
   display: none;
}
.circle-label {
   display: block;
   overflow: hidden;
   cursor: pointer;
}
.circle-switch .active{ /*hier stond eerst , #hiddencircle bij */
    display: block;
    background-color: rgb(255,238,77);
    color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 36%;
    right: 6%;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
    box-shadow: 3px 3px 2px black;
    animation: grow all 0.5s ease-in 0s;
    overflow: hidden;
    z-index: 9999;
}
.circle-switch { /*hier stond eerst , #hiddencircle bij */
    display: block;
    background-color: rgb(255,238,77);
    color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 36%;
    right: 6%;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
    box-shadow: 3px 3px 2px black;
    animation: grow all 0.5s ease-in 0s;
    overflow: hidden;
    z-index: 9999;
}


.hours {
    background-color: white;

}
.minutes {
    background-color: rgb(255,243,113);
}
.seconds {
    background-color: white;
}
.begin {
    float: left;
    background-color: white;
    color: black;
    height: 50px;
    width: 80px;
    position: absolute;
    left: 10%;
    bottom: 20px;
    box-shadow: 1px 1px 2px black;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgba(255,255,255,0.0);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.begin:active {
	box-shadow: inset 0 100px 0 0 rgba(255,255,255,0.9);
	transform: scale(1.5);
}
.cancel {
    float: right;
    background-color: red;
    color: white;
    height: 50px;
    width: 80px;
    position: absolute;
    right: 10%;
    bottom: 20px;
    font-size: 1.2em;
	cursor: pointer;
    box-shadow: inset 0 0 0 0 rgba(255,255,255,0.0);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.cancel:active {
	box-shadow: inset 0 100px 0 0 rgba(255,255,255,0.9);
	transform: scale(1.5);
}

#timebuttons {
    display: flex;
    align-items: center;
}

a:focus {
    font-size: 30px;
}
.space {
    margin: 30px;
}
select {
    margin-top: 10px;
    height: 40px;
    width: 60px;
    font-size: 24px;
}

.fa-plus {
    font-size: 0.5em;
    margin-left: 9px;
}


a {
    text-decoration: none;
    color: black;
}
  
.circle-checkbox:checked + .circle-label .circle-switch{  
 -webkit-animation: grow ease-in 0.6s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-fill-mode: forwards;
}
#hiddencircle {
    display:none;

}

.circle-checkbox:checked ~ #hiddencircle {
    display: block;
}
.fa-bell {
    color: rgb(32,150,244);
    float:left;
}
.fa-bell-o {
   
    display: block;
}
/*.fa-bell.active{
    color: rgb(32,150,244);
}*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  float: right;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
hr {
    margin-left: 20%;
    margin-right:20%; 
    height: 2px;
    background-color: gray;
}
h1,h5 {
    color:rgb(96,97,97);
}
h2 {
    color: rgba(0,0,0,0.5);
}
h5 {
   letter-spacing: 4px;
   padding-right: 20px;
   word-spacing: 10px;
   margin-left: 10%;
}
span {
    margin-top: 10px;
}

.fa-arrow-right, .fa-arrow-left {
    color: rgb(245,254,255);
    font-size: 2em;

}
.fa-arrow-left {
 transform: translate(20%,290%);

}
.fa-arrow-right {
 position: absolute;
 top: 38%;
 right: 1%;
}
p {
    color:  rgb(245,254,255);
    text-align: center;
    font-size: 4.5em;
    transform: translateY(-95%);
    
}
h6{
 color: rgb(26, 60, 89);
 margin-top: -10%;
 font-size: 1.5em;
 text-align: center;
 transform: translateY(-380%);
}

.icon, .icon2, .dayofyear {
    display: inline;
    clear: both;
}
/*dagen van de week op gele achtergrond */
input[type=checkbox].calender{
	display: none;
}
input + .dag{
    color:rgba(0,0,0,0.5);
}
input:checked + .dag {
	font-weight: bold;
	font-family: Arial, serif;
    color: rgb(0,0,0);
}
label {
	cursor:pointer;
}
p.dag {
	display: inline;
	margin-right: 10px;
    font-size: 1.2em;
    
}
